@using Website.MVC.Model
@using Website.Utils
@inherits Glass.Sitecore.Mapper.Razor.Web.Ui.TemplateBase<Website.MVC.Model.PersonModel>
<div class="overview overviewList">
    <div class="row">
        <div class="three columns">
            <div class="imageContainer">
                @GlassHtml.RenderImage(Model.PersonImage)
            </div>
        </div>
        <div class="nine columns contentBlock">
            <h2><@GlassHtml.Editable(Model, x => x.FirstName) @GlassHtml.Editable(Model, x => x.LastName)</h2>
            <p>Bedrijfsnaam: @GlassHtml.Editable(Model, x => x.CompanyName)<br/>
                Website:  <a href="@Model.CompanyUrl" >@Model.CompanyUrl</a></p>
            <div class="linksContainer">
                @if (SitecoreUtil.IsPageEditor() || !string.IsNullOrEmpty(Model.Email))
                {
                    <a href="mailto:@Model.Email" class="mail" title="Email">Email</a>
                }
                @if (SitecoreUtil.IsPageEditor() || !string.IsNullOrEmpty(Model.FacebookUrl))
                {
                    <a href="@Model.FacebookUrl" class="facebook" title="Facebook">Facebook</a>
                }
                @if (SitecoreUtil.IsPageEditor() || !string.IsNullOrEmpty(Model.TwitterUrl))
                {
                    <a href="@Model.TwitterUrl" class="twitter" title="Twitter">Twitter</a>
                }
                @if (SitecoreUtil.IsPageEditor() || !string.IsNullOrEmpty(Model.LinkedInUrl))
                {
                    <a href="@Model.LinkedInUrl" class="linkedIn" title="LinkedIn">LinkedIn</a>
                }
                @if (SitecoreUtil.IsPageEditor() || !string.IsNullOrEmpty(Model.BlogUrl))
                {
                    <a href="@Model.BlogUrl" class="leesMeer" title="Blog">Blog</a>
                }
            </div>
        </div>
    </div>
    @{
        IEnumerable<AgendaModel> agendaItems = SitecoreUtil.GetPastAgendaItemsForPerson(Model);
        if (agendaItems.Any())
        {
            <div class="row">
                <div class="twelve columns">  <h2>@Editable(x=> x.FirstName) heeft op de volgende meetings gepresenteerd:</h2></div>
            </div>
            foreach (AgendaModel agendaItem in agendaItems)
            {
                <div class="row">
                    <div class="three columns"> 
                        <div class="dateBlock" style="background: url('/images/bg_agendaItem1.jpg') no-repeat;">
                            <span class="date">@agendaItem.Date.ToString("dd")</span><br />
                            <span class="month">@agendaItem.Date.ToString("MMMM")</span> 
                            <span class="year">@agendaItem.Date.ToString("yyyy")</span>
                        </div>
                    </div>
                    <div class="nine columns contentBlock">
                        <a href="@agendaItem.Url">
                            <h2>@agendaItem.ContentTitle</h2>
                        </a>
                        <p><a href="#">@agendaItem.MeetingType.Name</a> - @Raw(agendaItem.ContentIntroduction)</p>
                        <div class="linksContainer"><a href="@agendaItem.Url" class="leesMeer">Lees meer</a></div>
                    </div>
                </div>
            }
        }
    }

    
</div>